$RECYCLE.BIN/
Debug/
Release/
x64/
Temp/
bin/*.exe
bin/*.ini

Thumbs.db
ehthumbs.db
Desktop.ini

*.cab
*.msi
*.msm
*.msp
*.lnk

*.jpg
*.zip
*.log
*.pdb
*.exp
*.sdf
*.opensdf
*.suo
*.exp
*.user
*.iobj
*.ipdb
*.ilk