#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	"P", IDM_SETTINGS, CONTROL, VIRTKEY
	VK_F1, IDM_ABOUT, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_SETTINGS
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_CLEAN
		POPUP " "
		{
			MENUITEM " ", IDM_WORKINGSET_CHK
			MENUITEM " ", IDM_SYSTEMWORKINGSET_CHK
			MENUITEM " ", IDM_STANDBYLISTPRIORITY0_CHK
			MENUITEM " ", IDM_STANDBYLIST_CHK
			MENUITEM " ", IDM_MODIFIEDLIST_CHK
			MENUITEM " ", IDM_COMBINEMEMORYLISTS_CHK
		}
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_DISABLE_1
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_DISABLE_2
			MENUITEM SEPARATOR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 224, 214
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | WS_MINIMIZEBOX | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, NOT WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_NOSCROLL, 8, 8, 208, 174

	PUSHBUTTON		"", IDC_CLEAN, 8, 192, 208, 14
}

IDD_SETTINGS DIALOGEX 0, 0, 380, 214
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
EXSTYLE WS_EX_APPWINDOW
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_NAV, WC_TREEVIEW, TVS_SHOWSELALWAYS | TVS_TRACKSELECT | TVS_FULLROWSELECT | WS_HSCROLL | WS_TABSTOP, 2, 1, 103, 244

	PUSHBUTTON		"", IDC_CLOSE, 322, 192, 50, 14
}

IDD_SETTINGS_GENERAL DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_1, 4, 4, 262, 80

	AUTOCHECKBOX	"", IDC_ALWAYSONTOP_CHK, 12, 18, 246, 10
	AUTOCHECKBOX	"", IDC_LOADONSTARTUP_CHK, 12, 30, 246, 10
	AUTOCHECKBOX	"", IDC_REDUCTCONFIRMATION_CHK, 12, 42, 246, 10
	AUTOCHECKBOX	"", IDC_SKIPUACWARNING_CHK, 12, 54, 246, 10
	AUTOCHECKBOX	"", IDC_CHECKUPDATES_CHK, 12, 66, 246, 10

	GROUPBOX		"", IDC_TITLE_2, 4, 86, 262, 36

	LTEXT			"", IDC_LANGUAGE_HINT, 12, 100, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_LANGUAGE, 134, 100, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
}

IDD_SETTINGS_MEMORY DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_3, 4, 4, 262, 90

	AUTOCHECKBOX	"", IDC_WORKINGSET_CHK, 12, 18, 246, 10
	AUTOCHECKBOX	"", IDC_SYSTEMWORKINGSET_CHK, 12, 30, 246, 10
	AUTOCHECKBOX	"", IDC_STANDBYLISTPRIORITY0_CHK, 12, 42, 246, 10
	AUTOCHECKBOX	"", IDC_STANDBYLIST_CHK, 12, 54, 246, 10
	AUTOCHECKBOX	"", IDC_MODIFIEDLIST_CHK, 12, 66, 246, 10
	AUTOCHECKBOX	"", IDC_COMBINEMEMORYLISTS_CHK, 12, 78, 246, 10

	GROUPBOX		"", IDC_TITLE_4, 4, 96, 262, 48

	AUTOCHECKBOX	"", IDC_AUTOREDUCTENABLE_CHK, 12, 108, 194, 12, BS_MULTILINE
	EDITTEXT		IDC_AUTOREDUCTVALUE_CTRL, 214, 108, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_AUTOREDUCTVALUE, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	AUTOCHECKBOX	"", IDC_AUTOREDUCTINTERVALENABLE_CHK, 12, 122, 194, 12, BS_MULTILINE
	EDITTEXT		IDC_AUTOREDUCTINTERVALVALUE_CTRL, 214, 122, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_AUTOREDUCTINTERVALVALUE, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	GROUPBOX		"", IDC_TITLE_5, 4, 146, 262, 34

	AUTOCHECKBOX	"", IDC_HOTKEY_CLEAN_CHK, 12, 158, 144, 12, BS_MULTILINE
	CONTROL			"", IDC_HOTKEY_CLEAN, HOTKEY_CLASS, WS_TABSTOP, 164, 158, 94, 12
}

IDD_SETTINGS_APPEARANCE DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_1, 4, 4, 262, 80

	AUTOCHECKBOX	"", IDC_TRAYUSETRANSPARENCY_CHK, 12, 18, 246, 10
	AUTOCHECKBOX	"", IDC_TRAYSHOWBORDER_CHK, 12, 30, 246, 10
	AUTOCHECKBOX	"", IDC_TRAYROUNDCORNERS_CHK, 12, 42, 246, 10
	AUTOCHECKBOX	"", IDC_TRAYCHANGEBG_CHK, 12, 54, 246, 10
	AUTOCHECKBOX	"", IDC_TRAYUSEANTIALIASING_CHK, 12, 66, 246, 10

	GROUPBOX		"", IDC_TITLE_6, 4, 86, 262, 94

	LTEXT			"", IDC_FONT_HINT, 12, 100, 114, 12, SS_CENTERIMAGE
	PUSHBUTTON		"", IDC_FONT, 134, 100, 124, 12

	LTEXT			"", IDC_COLOR_TEXT_HINT, 12, 114, 194, 12, SS_CENTERIMAGE
	PUSHBUTTON		"", IDC_COLOR_TEXT, 214, 114, 44, 12

	LTEXT			"", IDC_COLOR_BACKGROUND_HINT, 12, 128, 194, 12, SS_CENTERIMAGE
	PUSHBUTTON		"", IDC_COLOR_BACKGROUND, 214, 128, 44, 12

	LTEXT			"", IDC_COLOR_WARNING_HINT, 12, 142, 194, 12, SS_CENTERIMAGE
	PUSHBUTTON		"", IDC_COLOR_WARNING, 214, 142, 44, 12

	LTEXT			"", IDC_COLOR_DANGER_HINT, 12, 156, 194, 12, SS_CENTERIMAGE
	PUSHBUTTON		"", IDC_COLOR_DANGER, 214, 156, 44, 12
}

IDD_SETTINGS_TRAY DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_7, 4, 4, 262, 50

	LTEXT			"", IDC_TRAYLEVELWARNING_HINT, 12, 18, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_TRAYLEVELWARNING_CTRL, 214, 18, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_TRAYLEVELWARNING, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	LTEXT			"", IDC_TRAYLEVELDANGER_HINT, 12, 32, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_TRAYLEVELDANGER_CTRL, 214, 32, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_TRAYLEVELDANGER, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	GROUPBOX		"", IDC_TITLE_8, 4, 56, 262, 50

	LTEXT			"", IDC_TRAYACTIONDC_HINT, 12, 70, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_TRAYACTIONDC, 134, 70, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_TRAYACTIONMC_HINT, 12, 84, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_TRAYACTIONMC, 134, 84, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_9, 4, 108, 262, 36

	AUTOCHECKBOX	"", IDC_SHOW_CLEAN_RESULT_CHK, 12, 122, 246, 12, BS_MULTILINE

}

//
// String resources
//
STRINGTABLE
{
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "New version (%s) available. Open the download page?"

	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_EXIT "Exit"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_TRAY_SHOW "Show/Hide"
	IDS_TRAY_DISABLE "Disable"
	IDS_TRAY_POPUP_1 "Clean areas"
	IDS_TRAY_POPUP_2 "Clean when above"
	IDS_TRAY_POPUP_3 "Clean every"

	IDS_CLEAN "Clean memory"

	IDS_GROUP_1 "Physical memory"
	IDS_GROUP_2 "Virtual memory"
	IDS_GROUP_3 "System working set"

	IDS_ITEM_1 "Usage"
	IDS_ITEM_2 "Available"
	IDS_ITEM_3 "Total available"

	IDS_SETTINGS_GENERAL "General"
	IDS_SETTINGS_MEMORY "Memory cleaning"
	IDS_SETTINGS_APPEARANCE "Appearance"
	IDS_SETTINGS_TRAY "Tray icon"

	IDS_CLOSE "Close"

	IDS_TITLE_1 "General configuration"
	IDS_TITLE_2 "Language"
	IDS_TITLE_3 "Memory regions to be cleaned"
	IDS_TITLE_4 "Memory management"
	IDS_TITLE_5 "Hotkeys (global)"
	IDS_TITLE_6 "Style"
	IDS_TITLE_7 "Color indication"
	IDS_TITLE_8 "Mouse control"
	IDS_TITLE_9 "Balloon tips"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_REDUCTCONFIRMATION_CHK "Confirm memory cleaning start"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_LANGUAGE_HINT "Select language:"

	IDS_WORKINGSET_CHK "Working set"
	IDS_SYSTEMWORKINGSET_CHK "System working set"
	IDS_STANDBYLISTPRIORITY0_CHK "Standby list without priority"
	IDS_STANDBYLIST_CHK "Standby list (Windows Vista and above)"
	IDS_MODIFIEDLIST_CHK "Modified page list"
	IDS_COMBINEMEMORYLISTS_CHK "Combine memory lists"

	IDS_AUTOREDUCTENABLE_CHK "Clean when above: (%)"
	IDS_AUTOREDUCTINTERVALENABLE_CHK "Clean every: (min.)"

	IDS_HOTKEY_CLEAN_CHK "Clean memory:"

	IDS_TRAYUSETRANSPARENCY_CHK "Use transparent background"
	IDS_TRAYSHOWBORDER_CHK "Show border"
	IDS_TRAYROUNDCORNERS_CHK "Round corners"
	IDS_TRAYCHANGEBG_CHK "Change background color (instead text and border)"
	IDS_TRAYUSEANTIALIASING_CHK "Use antialiasing"
	
	IDS_FONT_HINT "Font:"
	IDS_COLOR_TEXT_HINT "Text color:"
	IDS_COLOR_BACKGROUND_HINT "Background color:"
	IDS_COLOR_WARNING_HINT """Warning level"" color:"
	IDS_COLOR_DANGER_HINT """Danger level"" color:"

	IDS_TRAYLEVELWARNING_HINT """Warning level"" started at: (%)"
	IDS_TRAYLEVELDANGER_HINT """Danger level"" started at: (%)"

	IDS_TRAYACTIONDC_HINT "Double click:"
	IDS_TRAYACTIONMC_HINT "Middle click:"

	IDS_TRAY_ACTION_1 "Show/Hide"
	IDS_TRAY_ACTION_2 "Clean memory"
	IDS_TRAY_ACTION_3 "Open task manager"

	IDS_SHOW_CLEAN_RESULT_CHK "Show memory cleaning results"

	IDS_QUESTION "Are you sure you want to clean the memory?"
	IDS_QUESTION_WARNING "Switching-on ""Standby list"" and ""Modified page list"" may freeze your computer for almost a minute or so, are you sure to enable this option?"
	IDS_QUESTION_FLAG_CHK "Do not ask again"

	IDS_STATUS_CLEANED "Memory was released with %s result."
	IDS_STATUS_NOPRIVILEGES "Required administrator privileges, please run program as administrator!"
}

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
